<%= render 'shared/alert' %>

<div class="container">
  <div class="accepeted">
    <h2 class="text-center mb-4"> Accepted Bookings</h2>
    <div class="row">
      <% @bookings.each do |booking|%>
      <% restaurant = booking.restaurant %>
        <% if booking.accepted%>
          <div class="card-trip mr-2 ml">
            <% if restaurant.photo.attached? %>
              <%= cl_image_tag restaurant.photo.key %>
            <% else %>
              <img class="rounded" src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
            <% end %>
            <div class="card-trip-infos">
              <div>
                <h2><%=restaurant.name%></h2>
                <p><%=booking.time%>, <%=booking.date%></p>
                <p><strong><%= restaurant.category %></strong> - <%= restaurant.address %></p>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
  <div class="not-confirmed-yet">
    <h2 class="text-center mb-4"> Waiting for Confirmation</h2>
    <div class="row">
      <% @bookings.each do |booking|%>
      <% restaurant = booking.restaurant %>
        <% unless booking.accepted %>
          <div class="card-trip mr-2 ml">
            <% if restaurant.photo.attached? %>
              <%= cl_image_tag restaurant.photo.key %>
            <% else %>
              <img class="rounded" src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
            <% end %>
            <div class="card-trip-infos">
              <div>
                <h2><%=restaurant.name%></h2>
                <p><%=booking.time%>, <%=booking.date%></p>
                <p><strong><%= restaurant.category %></strong> - <%= restaurant.address %></p>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>

</div>

