<div class="container">
  <div class="booking-lists mt-4">
    <div class="restaurant-summary text-center">
      <% restaurant =  @bookings.first.restaurant %>
      <h1 class="text-center"><%= link_to restaurant.name, restaurant_path(restaurant) %></h1>
      <% if restaurant.photos.attached? %>
        <%= cl_image_tag restaurant.photos.first.key %>
      <% else %>
        <img src="https://images.unsplash.com/photo-1552566626-52f8b828add9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80" alt="">
      <% end %>
    </div>
    <% if @bookings.empty? %>
      <h2 class="m-5">No booking requested yet</h2>
    <% else %>
      <h2 class="m-5">Requests waiting for accepted</h2>
      <div class="row scroll">
        <%  @bookings.each do |booking| %>
          <% guest = booking.user %>
          <% restaurant = booking.restaurant %>
          <% if !booking.accepted && booking.date >= Date.today %>
            <div class="booking-card m-2 col-4">
              <% if guest.photo.attached? %>
                <%= cl_image_tag guest.photo.key %>
              <% else %>
                <%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier" %>
              <% end %>
              <div class="card-product-infos">
                <h2><%= guest.name %></h2>
                <% rating_int = guest.rating.floor %>
                <% rating_dec = guest.rating - rating_int %>
                <h3 class="card-restaurant-rating text-center">
                  <% if rating_dec >= 0.75 %>
                    <%= content_tag(:i, nil, class: "fas fa-star") * (rating_int + 1) %>
                  <% elsif rating_dec >= 0.25 %>
                    <%= content_tag(:i, nil, class: "fas fa-star") * rating_int %>
                    <%= content_tag(:i, nil, class: "fas fa-star-half-alt")%>
                  <% else %>
                    <%= content_tag(:i, nil, class: "fas fa-star") * rating_int %>
                  <% end %>
                </h3>
                <h3><%= booking.time%>, <%= booking.date %></h3>
                <h3><%= content_tag(:i, nil, class: "fas fa-user") * (rating_int + 1) %></h3>
                <h3><%= link_to 'Accept', accept_path(restaurant, booking), class: "btn btn-primary btn-sm mt-2" %></h3>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>

      <h2 class="m-5" >Accepted Requests</h2>
      <div class="row scroll">
        <% @bookings.each do |booking| %>
          <% guest = booking.user %>
          <% if booking.accepted && booking.date >= Date.today %>
            <div class="booking-card m-2 col-4">
              <% if guest.photo.attached? %>
                <%= cl_image_tag guest.photo.key %>
              <% else %>
                <%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier" %>
              <% end %>
              <div class="card-product-infos">
                <h2><%= guest.name %></h2>
                <% rating_int = guest.rating.floor %>
                <% rating_dec = guest.rating - rating_int %>
                <h3 class="card-restaurant-rating text-center">
                  <% if rating_dec >= 0.75 %>
                    <%= content_tag(:i, nil, class: "fas fa-star") * (rating_int + 1) %>
                  <% elsif rating_dec >= 0.25 %>
                    <%= content_tag(:i, nil, class: "fas fa-star") * rating_int %>
                    <%= content_tag(:i, nil, class: "fas fa-star-half-alt")%>
                  <% else %>
                    <%= content_tag(:i, nil, class: "fas fa-star") * rating_int %>
                  <% end %>
                </h3>
                <h3><%= booking.time%>, <%= booking.date %></h3>
                <h3><%= content_tag(:i, nil, class: "fas fa-user") * (rating_int + 1) %></h3>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>

      <h2 class="m-5" >Past Guests</h2>
      <div class="row scroll mb-4">
        <% @bookings.each do |booking| %>
          <% guest = booking.user %>
          <% if booking.accepted && booking.date < Date.today %>
            <div class="booking-card m-2 col-4">
              <% if guest.photo.attached? %>
                <%= cl_image_tag guest.photo.key %>
              <% else %>
                <%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier" %>
              <% end %>
              <div class="card-product-infos">
                <h2><%= guest.name %></h2>
                <% rating_int = guest.rating.floor %>
                <% rating_dec = guest.rating - rating_int %>
                <h3 class="card-restaurant-rating text-center">
                  <% if rating_dec >= 0.75 %>
                    <%= content_tag(:i, nil, class: "fas fa-star") * (rating_int + 1) %>
                  <% elsif rating_dec >= 0.25 %>
                    <%= content_tag(:i, nil, class: "fas fa-star") * rating_int %>
                    <%= content_tag(:i, nil, class: "fas fa-star-half-alt")%>
                  <% else %>
                    <%= content_tag(:i, nil, class: "fas fa-star") * rating_int %>
                  <% end %>
                </h3>
                <% if booking.review.nil? %>
                  <button type="button" class="btn btn-primary btn-sm p-1 mb-2 ml-4" data-toggle="modal" data-target=<%= "#booking-#{booking.id}" %>>Rate</button>
                <% else %>
                  <button disabled type="button" class="btn btn-primary btn-sm p-1 mb-2 ml-4">Rated!</button>
                <% end %>

              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>

<% @bookings.each do |booking| %>
  <% if booking.accepted && booking.date < Date.today %>
<!-- Modal -->
  <div class="modal fade" id=<%="booking-#{booking.id}"%> tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
       <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Please Leave A Review</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%= simple_form_for [booking, Review.new] do |f| %>
          <%= f.input :booking_rating, as: :select, collection: 1..5 %>
          <%= f.input :punctuality_rating, as: :select, collection:1..5 %>
          <%= f.input :content %>
          <%= f.button :submit, class:"btn btn-primary mt-4" %>
          <button type="button" class="btn bg-white text-primary mt-4" data-dismiss="modal">Cancel</button>
        <% end %>
      </div>
    </div>
  </div>
  </div>
  <% end %>
<% end %>
