<div class="container">
  <% if @bookings.empty? %>
    <h2 class="m-5">No booking requested yet</h2>
  <% else %>
    <h2 class="m-5">Requests waiting for accepted</h2>
    <div class="row">
      <%  @bookings.each do |booking| %>
        <% guest = booking.user %>
        <% restaurant = booking.restaurant %>
        <% if !booking.accepted && booking.date >= Date.today %>
          <div class="card-product m-2 col-4">
            <% if guest.photo.attached? %>
              <%= cl_image_tag guest.photo.key %>
            <% else %>
              <%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier" %>
            <% end %>
            <div class="card-product-infos">
              <h3><%= guest.name %></h3>
              <% rating_int = guest.rating.floor %>
              <% rating_dec = guest.rating - rating_int %>
              <h3 class="card-restaurant-rating text-center">
                <% if rating_dec >= 0.75 %>
                  <%= content_tag(:i, nil, class: "fas fa-star") * (rating_int + 1) %>
                <% elsif rating_dec >= 0.25 %>
                  <%= content_tag(:i, nil, class: "fas fa-star") * rating_int %>
                  <%= content_tag(:i, nil, class: "fas fa-star-half-alt")%>
                <% else %>
                  <%= content_tag(:i, nil, class: "fas fa-star") * rating_int %>
                <% end %>
              </h3>
              <h3><%= booking.time%>, <%= booking.date %></h3>
              <h3><%= booking.party %> people</h3>
              <%= link_to 'Accept', accept_path(restaurant, booking), class: "btn btn-primary btn-sm p-1 mb-2 ml-4" %>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>

    <h2 class="m-5" >Accepted Requests</h2>
    <div class="row">
      <% @bookings.each do |booking| %>
        <% guest = booking.user %>
        <% if booking.accepted && booking.date >= Date.today %>
          <div class="card-product m-2 col-4">
            <% if guest.photo.attached? %>
              <%= cl_image_tag guest.photo.key %>
            <% else %>
              <%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier" %>
            <% end %>
            <div class="card-product-infos">
              <h3><%= guest.name %></h3>
              <% rating_int = guest.rating.floor %>
              <% rating_dec = guest.rating - rating_int %>
              <h3 class="card-restaurant-rating text-center">
                <% if rating_dec >= 0.75 %>
                  <%= content_tag(:i, nil, class: "fas fa-star") * (rating_int + 1) %>
                <% elsif rating_dec >= 0.25 %>
                  <%= content_tag(:i, nil, class: "fas fa-star") * rating_int %>
                  <%= content_tag(:i, nil, class: "fas fa-star-half-alt")%>
                <% else %>
                  <%= content_tag(:i, nil, class: "fas fa-star") * rating_int %>
                <% end %>
              </h3>
              <h3><%= booking.time%>, <%= booking.date %></h3>
              <h3><%= booking.party %> people</h3>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>

    <h2 class="m-5" >Past Guests</h2>
    <div class="row">
      <% @bookings.each do |booking| %>
        <% guest = booking.user %>
        <% if booking.accepted && booking.date < Date.today %>
          <div class="card-product m-2 col-4">
            <% if guest.photo.attached? %>
              <%= cl_image_tag guest.photo.key %>
            <% else %>
              <%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier" %>
            <% end %>
            <div class="card-product-infos">
              <h3><%= guest.name %></h3>
              <% rating_int = guest.rating.floor %>
              <% rating_dec = guest.rating - rating_int %>
              <h3 class="card-restaurant-rating text-center">
                <% if rating_dec >= 0.75 %>
                  <%= content_tag(:i, nil, class: "fas fa-star") * (rating_int + 1) %>
                <% elsif rating_dec >= 0.25 %>
                  <%= content_tag(:i, nil, class: "fas fa-star") * rating_int %>
                  <%= content_tag(:i, nil, class: "fas fa-star-half-alt")%>
                <% else %>
                  <%= content_tag(:i, nil, class: "fas fa-star") * rating_int %>
                <% end %>
              </h3>
              <h3><%= booking.time%>, <%= booking.date %></h3>
              <button type="button" class="btn btn-primary btn-sm p-1 mb-2 ml-4">Rate</button>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>

  <% end %>
</div>
