<div class="container">
  <div class="booking-lists mt-4">
    <% if @bookings.empty? %>
      <h2 class="m-5">No booking requested yet</h2>
    <% else %>
      <div class="restaurant-summary text-center">
        <% restaurant =  @bookings.first.restaurant %>
        <h1 class="text-center"><%= restaurant.name%></h1>
        <% if restaurant.photos.attached? %>
          <%= cl_image_tag restaurant.photos.first.key %>
        <% else %>
          <img src="https://images.unsplash.com/photo-1552566626-52f8b828add9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80" alt="">
        <% end %>
      </div>
      <h2 class="m-5">Requests waiting for accepted</h2>
      <div class="row scroll">
        <%  @bookings.each do |booking| %>
          <% guest = booking.user %>
          <% restaurant = booking.restaurant %>
          <% if !booking.accepted && booking.date >= Date.today %>
            <div class="booking-card m-2 col-4">
              <% if guest.photo.attached? %>
                <%= cl_image_tag guest.photo.key %>
              <% else %>
                <%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier" %>
              <% end %>
              <div class="card-product-infos">
                <h2><%= guest.name %></h2>
                <% rating_int = guest.rating.floor %>
                <% rating_dec = guest.rating - rating_int %>
                <h3 class="card-restaurant-rating text-center">
                  <% if rating_dec >= 0.75 %>
                    <%= content_tag(:i, nil, class: "fas fa-star") * (rating_int + 1) %>
                  <% elsif rating_dec >= 0.25 %>
                    <%= content_tag(:i, nil, class: "fas fa-star") * rating_int %>
                    <%= content_tag(:i, nil, class: "fas fa-star-half-alt")%>
                  <% else %>
                    <%= content_tag(:i, nil, class: "fas fa-star") * rating_int %>
                  <% end %>
                </h3>
                <h3><%= booking.time%>, <%= booking.date %></h3>
                <h3><%= content_tag(:i, nil, class: "fas fa-user") * (rating_int + 1) %></h3>
                <h3><%= link_to 'Accept', accept_path(restaurant, booking), class: "btn btn-primary btn-sm mt-2" %></h3>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>

      <h2 class="m-5" >Accepted Requests</h2>
      <div class="row scroll">
        <% @bookings.each do |booking| %>
          <% guest = booking.user %>
          <% if booking.accepted && booking.date >= Date.today %>
            <div class="booking-card m-2 col-4">
              <% if guest.photo.attached? %>
                <%= cl_image_tag guest.photo.key %>
              <% else %>
                <%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier" %>
              <% end %>
              <div class="card-product-infos">
                <h2><%= guest.name %></h2>
                <% rating_int = guest.rating.floor %>
                <% rating_dec = guest.rating - rating_int %>
                <h3 class="card-restaurant-rating text-center">
                  <% if rating_dec >= 0.75 %>
                    <%= content_tag(:i, nil, class: "fas fa-star") * (rating_int + 1) %>
                  <% elsif rating_dec >= 0.25 %>
                    <%= content_tag(:i, nil, class: "fas fa-star") * rating_int %>
                    <%= content_tag(:i, nil, class: "fas fa-star-half-alt")%>
                  <% else %>
                    <%= content_tag(:i, nil, class: "fas fa-star") * rating_int %>
                  <% end %>
                </h3>
                <h3><%= booking.time%>, <%= booking.date %></h3>
                <h3><%= content_tag(:i, nil, class: "fas fa-user") * (rating_int + 1) %></h3>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>

      <h2 class="m-5" >Past Guests</h2>
      <div class="row scroll">
        <% @bookings.each do |booking| %>
          <% guest = booking.user %>
          <% if booking.accepted && booking.date < Date.today %>
            <div class="booking-card m-2 col-4">
              <% if guest.photo.attached? %>
                <%= cl_image_tag guest.photo.key %>
              <% else %>
                <%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier" %>
              <% end %>
              <div class="card-product-infos">
                <h2><%= guest.name %></h2>
                <% rating_int = guest.rating.floor %>
                <% rating_dec = guest.rating - rating_int %>
                <h3 class="card-restaurant-rating text-center">
                  <% if rating_dec >= 0.75 %>
                    <%= content_tag(:i, nil, class: "fas fa-star") * (rating_int + 1) %>
                  <% elsif rating_dec >= 0.25 %>
                    <%= content_tag(:i, nil, class: "fas fa-star") * rating_int %>
                    <%= content_tag(:i, nil, class: "fas fa-star-half-alt")%>
                  <% else %>
                    <%= content_tag(:i, nil, class: "fas fa-star") * rating_int %>
                  <% end %>
                </h3>
                <h3><%= content_tag(:i, nil, class: "fas fa-user") * (rating_int + 1) %></h3>
                <h3><%= link_to 'Rate', "#", class: "btn btn-primary btn-sm  mt-2" %></h3>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
