<div class="container">
  <div class="user-profile border p-2">
    <div class="row">
      <div class="col-3 user-photo width: 150px height: 150px">
        <% if current_user.photo.attached? %>
          <%= cl_image_tag current_user.photo.key, class:"w-100" %>
        <% else %>
          <img src="https://kitt.lewagon.com/placeholder/users/ssaunier" class="w-100" alt=""> “https://kitt.lewagon.com/placeholder/users/ssaunier” %>
        <% end %>
      </div>
      <div class="col-9 user-info">
        <h2><%= current_user.name %></h2>
        <div class="row user-scores">
          <div class="col-4 page-views">
            <h1>50K</h1>
            <p>Page Views</p>
          </div>
          <div class="col-4 bookings-count">
            <h1>800</h1>
            <p>Bookings Made</p>
          </div>
          <div class="col-4 rating">
            <% rating_int = current_user.rating.floor %>
            <% rating_dec = current_user.rating - rating_int %>
            <h1>
              <% if rating_dec >= 0.75 %>
                <%= content_tag(:i, nil, class: "fas fa-star") * (rating_int + 1) %>
              <% elsif rating_dec >= 0.25 %>
                <%= content_tag(:i, nil, class: "fas fa-star") * rating_int %>
                <%= content_tag(:i, nil, class: "fas fa-star-half-alt")%>
              <% else %>
                <%= content_tag(:i, nil, class: "fas fa-star") * rating_int %>
              <% end %>
            </h1>
            <p>Average Rating</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="container mt-5">
  <h2 class="text-center mb-4">Listed Restaurants</h2>
  <%= render 'shared/owner_restaurants_list' %>
</div>

