<div class="container">
  <div class="remaining-capacity w-50 m-auto">
    <% @remaining_slots.each do |key, value| %>
      <h5><%= value %> seats available for <%= key %></h5>
    <% end %>
  </div>
  <div style="height:100px;">
    <%= simple_form_for [ @restaurant, @booking ] do |f| %>
      <%= f.input :date , as: :date, html5: true, input_html: { value: @booking.date } %>
      <%= f.input :time, as: :select, collection: @remaining_slots.keys %>
      <%= f.input :party, as: :select, collection: (0..@remaining_slots.values.max) %>
      <%= f.submit 'Request' %>
    <% end %>
  </div>
</div>
