<div class="row">
  <% @restaurants.each do |restaurant|%>
    <div class="card-trip owner-list mr-auto ml-auto">
      <% if restaurant.photos.attached? %>
        <%= cl_image_tag restaurant.photos.first.key %>
      <% else %>
        <img class="rounded" src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
      <% end %>
      <div class="card-trip-infos">
        <div>
          <h2 class="mb-2"><%= link_to "#{restaurant.name} (#{restaurant.category}) ",  restaurant_bookings_path(restaurant)%></h2>
          <p class="mb-1"><%= restaurant.address %></p>
          <h3 class="mb-1"><strong><%= Booking.where(restaurant_id: restaurant.id, accepted: false).count %></strong> pending requests</h3>
          <p class="mb-1 text-right">
            <%= link_to "Edit", edit_restaurant_path(restaurant) %>
            <%= link_to "Delete", restaurant_path(restaurant), method: :delete %>
          </p>
        </div>
      </div>
    </div>
  <% end %>
</div>
