<div class="banner">
  <div class="banner-content">
    <h1>Be the best to book the best</h1>
    <p>Make reservations at your favourite restaurants</p>
  <%= render "shared/searchbar" %>
</div>
</div>
<div class="container"></div>
<h2 id="centering-title">The latest restaurants</h2>
  <div class="flex-container">
    <% @restaurants.each do |restaurant| %>
      <%= link_to restaurant_path(restaurant) do %>
        <div class="card-trip">
          <% if restaurant.photo.attached? %>
            <%= cl_image_tag restaurant.photo.key %>
          <% else %>
            <img class="rounded" src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
          <% end %>
          <div class="card-trip-infos">
            <div>
              <h2><%=restaurant.name%></h2>
              <p><strong><%= restaurant.category %></strong> - <%= restaurant.address %></p>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
</div>
