<div class="banner">
  <div>
    <h1 class="text-center">Find a reservation</h1>
    <div class="row-12 justify-content-center">
      <%= render "shared/searchbar" %>
    </div>
  </div>
</div>
<!-- <div class="rest-carousel">
  <div>your content</div>
  <div>your content</div>
  <div>your content</div>
  <div>your content</div>
  <div>your content</div>
  <div>your content</div>
</div> -->
<div class="container justify-content-center">
  <h3>Top rated</h3>
  <div class="row rest-carousel">
    <% @restaurants.each do |restaurant|%>
      <div class="card-trip mr-2 ml">
        <% if restaurant.photos.attached? %>
          <%= cl_image_tag restaurant.photos.first.key %>
        <% else %>
          <img class="rounded" src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
        <% end %>
        <div class="card-trip-infos">
          <div>
            <h2 class="mb-2"><%= link_to restaurant.name,  restaurant_bookings_path(restaurant)%></h2>
            <p><strong><%= restaurant.category %></strong></p>
            <p><%= restaurant.address %></p>
            <%= link_to "Edit", edit_restaurant_path(restaurant) %>
            <%= link_to "Delete", restaurant_path(restaurant), method: :delete %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <div class="row justify-content-center">
    <h3>Why Good Booking?</h3>
    <div class="d-flex">
      <div class="col-6">
        <div><p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit repudiandae atque consectetur velit provident mollitia. Corporis nesciunt asperiores sunt ducimus dolor accusamus vel maxime, rerum, reprehenderit eius in atque pariatur?</p>
        </div>
      </div>
       <div class="col-6">
        <div><p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit repudiandae atque consectetur velit provident mollitia. Corporis nesciunt asperiores sunt ducimus dolor accusamus vel maxime, rerum, reprehenderit eius in atque pariatur?</p>
        </div>
      </div>
    </div>
    <div class="d-flex">
      <div class="col-6">
        <div><p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit repudiandae atque consectetur velit provident mollitia. Corporis nesciunt asperiores sunt ducimus dolor accusamus vel maxime, rerum, reprehenderit eius in atque pariatur?</p>
        </div>
      </div>
       <div class="col-6">
        <div><p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit repudiandae atque consectetur velit provident mollitia. Corporis nesciunt asperiores sunt ducimus dolor accusamus vel maxime, rerum, reprehenderit eius in atque pariatur?</p>
        </div>
      </div>
    </div>

  </div>
</div>



