<%= render 'shared/searchbar' %>
<div class="container">
  <div class="d-flex align-items-start">
    <div class="cards px-3">
      <% @restaurants.each do |restaurant| %>
        <%= link_to restaurant_path(restaurant) do %>
          <div class="card-product mb-3 p-3">
            <div class="image-wrapper">
              <% if restaurant.photo.attached? %>
                <%= cl_image_tag restaurant.photo.key %>
              <% else %>
                <img class="rounded" src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
              <% end %>
            </div>
            <div class="details-wrapper pl-2">
              <div class="card-product-infos">
                <h2><%=restaurant.name%></h2>
                <p><strong><%= restaurant.category %></strong> - <%= restaurant.address %></p>
                <%= link_to 'Edit', edit_restaurant_path(restaurant)  %>
                <%= link_to 'Delete', restaurant_path(restaurant), method: :delete  %>
              </div>
            </div>
          </div>

        <% end %>
      <% end %>
    </div>
 <div id="map"
     style="width: 100%; height: 600px;"
     data-markers="<%= @markers.to_json %>"
     data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"></div>
  </div>
</div>

